* {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* background-image: url('../../assets/images/Group.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: flex-start;
    padding: 90px 45px;
    gap: 10px;

    position: relative;
    width: 428px;
    height: 382px;

    border-radius: 4px;
    z-index: 2;
}

.inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: -50px;

    width: 450px;
    height: 380px;
}

.congratulation {
    /* background: url('../../assets/images/image\ 48.png'); */
    background-repeat: no-repeat;
    width: 259px;
    height: 280px;
    align-content: center;
    margin-left: 90px;
    padding-bottom: 30px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 4px;
}

.banner_congratulation {
    font-weight: 700;
    font-size: 20px;
    line-height: 30x;

    color: #38B520;
}

.contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 448px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px;
    gap: 4px;
    isolation: isolate;

    width: 456px;

    background: #9453FF;
    border-radius: 4px;

    color: #FFFFFF;

    font-size: 14px;

    border: none;
}

