.container {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.pattern1 {
    position: absolute;
    width: 100%;
}

.pattern2 {
    position: absolute;
    margin-top: 1642px;
}

.background_why_learn {
    position: absolute;
    margin: 2062px 0 0 536px;
    z-index: 10;
    width: 983px;
    height: 387px;
    background: #9453FF;
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 32px 0px 0px 32px;
}

.pattern3 {
    position: absolute;
    margin: 2529.94px 0 0 601.86px;
    z-index: 10;
}

.pattern4 {
    position: absolute;
    margin-top: 2776.94px;
    z-index: 10;
}

.join {
    background: linear-gradient(273.05deg, #C485ED -48.85%, #9453FF 23.8%);
    margin: 0 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 160px;
}

.wrapper_background_join {
    position: relative;
    width: 100%;
}

.background_join {
    width: 100%;
}

.wrapper_content_join {
    position: absolute;
}

.about_join {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_join {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.title_join {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFF539;
}

.text_join {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFF;
    text-align: center;
}

.input_join {
    width: 100%;
    display: flex;
    justify-content: center;
}

.field_email {
    width: 100%;
    margin-left: 96.5px;
    padding: 16px 24px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    color: #CAC1D8;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button_join {
    margin-right: 96.5px;
    padding: 16px 32px;
    background-color: #9453FF;
    border: 1px solid #C19BFF;
    border-radius: 0px 10px 10px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width:1000px) {
    .join {
        margin: 0 16px 98px 16px;
    }
}

@media screen and (max-width: 830px) {
    .container {
        gap: 64px;
    }

    .wrapper_background_join {
        display: none;
    }

    .wrapper_content_join {
        position: relative;
        padding: 16px;
    }

    .field_email {
        margin-left: 0;
    }

    .button_join {
        margin-right: 0;
    }
}

@media screen and (max-width: 379px) {
    .container {
        gap: 64px;
    }

    .about_join {
        padding: 39px 14px;
    }

    .title_join {
        font-size: 24px;
        line-height: 32px;
    }

    .text_join {
        font-size: 16px;
        line-height: 24px;
    }

    .field_email {
        padding: 9.85385px 14.7808px;
        font-size: 9.85385px;
        line-height: 15px;
    }

    .button_join {
        padding: 9.85385px 19.7077px;
        font-size: 11.0856px;
        line-height: 15px;
    }
}