.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 2;
    margin: 581px 80px 0 80px;
}

.content {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #362355;
    margin: 0 193px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.description_content_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.text_content {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #554766;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 0 51.75px 46px 51.75px;
}

.title_icon {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #585757;
}

@media screen and (max-width: 1250px) {
    .content {
        margin: 0;
    }
}

@media screen and (max-width: 925px) {
    .learn {
        margin: 270px 16px 0 16px;
    }

    .content {
        margin: 0;
    }

    .icons {
        gap: 12px;
    }

    .img {
        width: 95px;
    }

    .title_icon {
        font-size: 13.0874px;
        line-height: 17px;
    }

    .title_content {
        font-size: 24px;
        line-height: 32px;
    }

    .text_content {
        font-size: 14px;
        line-height: 20px;
    }

    .icon {
        gap: 7px;
        padding: 0 28.22px 25.63px 28.22px;
    }

}

@media screen and (max-width: 358px) {
    .learn {
        margin: 130px 16px 0 16px;
    }

    .icon {
        gap: 7px;
        padding: 0 28.22px 25.63px 28.22px;
    }
}

@media screen and (max-width:358px) {}